body{
    font-family: arial, helvetica;
    background-image: url(./tablero\ de\ disortografia.png);
    background-size: cover;
    background-repeat: no-repeat;
    style="color:#E5FEE9"
    width: 250px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

@font-face{
    font-family: ayo;
    src: url(Heyam.ttf);
   }
   h1{
    font-family: ayo;
    color: rgb(0, 0, 0);
   }

   .contenedor{
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    padding: 1rem;
   }

   button{
    background-color: rgb(243, 226, 78);
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
   }

   section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgb(255, 183, 88);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
